// ---- Variables ----

$animation-delay: 0s;
$card-counter: 0;

// -- Color --

$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;

// --


$white: #F3F3F3;
$lightGreen: #99E2D0;
$green: #008766;
$lightBlue: #89C8FA;
$blue: #003A68;
$darkGrey: #353535;
$paleGrey: #eaeaea;

// --

$gradient: linear-gradient(#9356DC, #FF79DA);

// -- Fonts --

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    
}

@font-face {
    font-family: Shrikhand;
    src: url(../fonts/Shrikhand-Regular.ttf);
}

$text: Roboto;
$logo: Shrikhand;
$title: Shrikhand;

// -- Mixins --

@mixin button{
    text-decoration: none;
    padding: 15px;
    font-size: 1.4rem;
    color: white;
    background: $gradient;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 60px;
    transition: 0.3s;
    &:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        opacity: 0.7;
    }
    @media screen and  (max-width:1000px) {
      font-size: 1.2rem;
  }
    @media screen and  (max-width: 460px) {
        font-size: 1rem;
    }
    @media screen and  (max-width: 360px) {
      font-size: 0.6rem;}
    
}
@mixin card-fonc {
    @media screen and  (min-width: 768px) {
        display: inline-block;
        font-size: 0.8rem;
    }
    @media screen and  (min-width: 900px) {
        display: inline-block;
        font-size: 1rem;
    }
    font-size: 1.3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 25px 0;
    border-radius: 20px;
    i {
      padding: 0 10px;
    }
    padding: 30px;
    @media screen and  (max-width: 370px) {
      padding: 15px;
  }
    background: $paleGrey;
    position: relative; 
    &::after {
      content: counter(card-counter);
      counter-increment: card-counter;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -10px;
      background: $primary;
      color: white;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      @media screen and  (max-width: 340px) {
        width: 20px;
        height: 20px;
        font-size: 0.7rem;
    }
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1rem;
    }
  }
  @mixin card-menu{
    box-shadow: #32325d40 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        background: white;
        display: flex;
        align-items: flex-end;
        div{
          align-items: flex-start;
        }
        justify-content: space-between;
        margin: 20px 10px;
        padding: 15px;
        @media screen and (max-width: 370px) {
          padding: 7.5px;
        }
        border-radius: 15px;
  }
  @mixin restau-subtitle{
    text-transform: uppercase;
    font-family: $text;
    letter-spacing: 1px;
    font-weight: 300;
    position: relative;
    &::after{
        content: "";
        position: absolute;
        background: $lightGreen;
        height: 2px;
        width: 40px;
        left: 0;
        bottom: -5px;
    }
  }
  @mixin heart {
    display: inline-block;
    position: relative;
    width: 25px;
    height: 25px;
    
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.6s;
    }
    
    &::before {
      background: url(../images/heart.svg) center/cover;
    }
    
    &::after {
      background: url(../images/heart2.svg) center/cover;
      opacity: 0;
    }
    
    &:hover::before {
      opacity: 0;
    }
    
    &:hover::after {
      opacity: 1;
    }
    
    @media screen and (max-width: 300px) {
      padding-top: 15px;
      margin-right: 5px;
    }
  }
  
  


// Général

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    background: $paleGrey;
}
.button{
    @include button;
}
.loading-screen{
  background: white;
  position: absolute;
  height: 200vh;
  width: 100vw;
  position: absolute;
  z-index: 100;
  animation: loading 2s ease forwards;
}
.loader{
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 200;
  border: 5px solid rgb(220, 220, 220);
  top: 50%;
  left: 50%;
  border-radius: 50%;
  border-top-color: $primary;
  transform: translate(-50%,-50%);
  animation: loader 2s ease forwards;
}
@keyframes loader {
  0%{
    transform: translate(-50%,-50%) rotate(0);
  }
  90%{

    
  }
  95%{
    transform: translate(-50%,-50%) rotate(720deg);
  }
  99%{
    z-index: 200;
    transform: translate(-50%,-50%) rotate(720deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(720deg);
    z-index: -200;
  }
}
@keyframes loading {
  99%{
    z-index: 100;
  }
  100%{
    z-index: -200;
  }
}