@import '../settings';

.fonctionnement {
    font-family: $text;
    .store{
        color: $primary;
    }
  padding: 25px;
  background: white;

  h2 {
    padding: 50px 0 0 15px;
    font-family: $text;
    font-size: 1.8rem;
    max-width:1100px;
    margin: 0 auto;
    @media screen and  (max-width: 1200px) {
      font-size: 1.2rem;
  }
  @media screen and  (max-width: 310px) {
    font-size: 1rem;
}
  }
  p{
    @media screen and  (max-width: 1200px) {
        font-size: 0.8rem;
    }
    @media screen and  (max-width: 990px) {
        font-size: 0.7rem;
    }
    @media screen and  (max-width: 900px) {
      font-size: 0.6rem;
  }
  @media screen and  (max-width: 850px) {
    font-size: 0.5rem;
}
@media screen and  (max-width:768px) {
  font-size: 0.7rem;
}
    @media screen and  (max-width: 340px) {
      font-size: 0.6rem;
  }
  @media screen and  (max-width: 286px) {
    font-size: 0.5rem;
}
    
    
  }
  .flex-fonc{

      @media screen and  (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
        max-width:1100px;
        margin: 0 auto;
    }
  }
  @for $i from 1 through 3 {
    .card-fonc:nth-of-type(#{$i}) {
      @include card-fonc;
      counter-reset: card-counter $i - 1;
    }
  }
}
