@import '../settings';

footer{
    @media screen and (min-width:768px) {
        
       padding-top: 50px;
     }
    padding: 10px;
    font-family: $text;
    h5{
        font-weight: 500;
        font-family: $logo;
        font-size: 1.2rem;
    }
    display: flex;
    
    flex-direction: column;
    @media screen and (min-width:768px) {
        
       flex-direction: row-reverse;
       gap: 15px;
       align-items: center;
    }
    background: $darkGrey;
    
    *{

        color: white;
        text-decoration: none;

    }
    a{
        padding: 5px 0;
        font-size: 0.7rem;
        
        
    }
    .flex-footer{
        display: flex;
        flex-direction: column;
        gap: 3px;
        @media screen and (min-width:768px) {
        
            flex-direction: row-reverse;
            gap: 15px;
        }
    }
}