@import '../settings';

header{
    background: white;
   
    padding: 10px 0;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    h1{
        font-family: $logo;
        font-size: 1.3rem;
    }
    position: relative;
    img{
        width: 30px;
        
        
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}