@import '../settings';

.reservation{
    padding: 20px 20px 60px 20px;
    background: $white;
    font-family: $text;
    text-align: center;
    h2{
        font-size: 1.4rem;
        
    }
    p{
        margin: 10px 0 30px 0;
        font-size:1rem;
        
    }
}